.site {
  background-color: rgb(255, 255, 255) !important;
  line-height: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

img {
  display: block;
  margin: 3rem auto;
  max-width: 100%;
  width: 50%;
}

.ui.grid {
  line-height: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

.ui.icon.header .content {
  font-size: 3rem;
  padding: 20px;
  line-height: 3rem;
  font-family: "Roboto", sans-serif;
}

.ui.menu {
  border-radius: 0px !important;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}

.ui.segment {
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
}

.ui.inverted.gogreen.segment {
  background-color: rgb(41, 190, 176);
  color: rgb(255, 255, 255);
}

.ui.inverted.menu .gogreen.active.item, .ui.inverted.gogreen.menu {
  background-color: rgb(41, 190, 176);
  color: rgb(255, 255, 255);
}

.center-text {
  text-align: center;
}

.gogreen {
  color: rgb(41, 190, 176) !important;
}

.gogreen-border {
  border-top: 2px solid rgb(41, 190, 176) !important;
}

.white-text {
  color: rgb(255, 255, 255) !important;
}

.footer-link {
  color: rgb(255, 255, 255);
}

h1.ui.header .sub.header {
  font-size: 1.8rem;
  padding: 10px;
  color: rgb(255, 255, 255) !important;
  line-height: 3rem;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}

.padded-container {
  padding: 20px;
}

.fullwidth {
  width: 100%;
}
