body {
  background-color: rgb(255, 255, 255) !important;
  line-height: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
}

.center-text {
  text-align: center;
}

.padded-container {
  padding: 20px;
}

:root {
  --space: 1.5em;
  --space-lg: 2em;
}

.site {
  display: flex;
  flex-direction: column;
  height: 100vh; /* 1, 3 */
}

.site-header,
.site-footer {
  flex: none; /* 2 */
}

.site-content {
  flex: 1 0 auto; /* 2 */
  padding: var(--space) var(--space) 0;
  /* width: 100vh; */ 
}

.site-content::after {
  content: "\00a0"; /* &nbsp; */
  display: block;
  margin-top: var(--space);
  height: 0px;
  visibility: hidden;
}
@media (min-width: 384px) {
  .site-content {
    padding-top: var(--space-lg);
  }
  .site-content::after {
    margin-top: var(--space-lg);
  }
}

.site-content--full {
  padding: 0;
}
.site-content--full::after {
  content: none;
}
